.productDetail__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


}

.productDetail__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;

  width: 100%;
}

.productDetail__content--desc {
  width: 60%;
  background-color: aquamarine;
}

.productDetail__content--side {
  width: 30%;
  background-color: cyan;
}